### Plot all of the solar system orbits by adding code cells below using matplotlib

In [13]:
# Import modules that contain functions we need
import pandas as pd # pandas is common for data science
import numpy as np # NumPy is used a lot in science
import math # we need the math class for pi
%matplotlib inline 
import matplotlib.pyplot as plt # MatPlotLib is the plotting standard

In [14]:
# Read in the Github data that will be used for the calculations.
data1 = pd.read_csv("solar_system_orbits.csv")
data1

,Planet,Semimajor Axis (AU),Period (y),Eccentricity,Semifocal Distance (AU),Semiminor Axis (AU),Perihelion Distance (AU)
0,Mercury,0.39,0.24,0.210,NaN,NaN,NaN
1,Venus,0.72,0.60,0.010,NaN,NaN,NaN
2,Earth,1.00,1.00,0.020,NaN,NaN,NaN
3,Mars,1.52,1.88,0.090,NaN,NaN,NaN
4,Encke,2.21,3.30,0.847,NaN,NaN,NaN
5,Vesta,2.36,3.63,0.090,NaN,NaN,NaN
6,Ceres,2.77,4.60,0.080,NaN,NaN,NaN
7,Pallas,2.77,4.62,0.230,NaN,NaN,NaN
8,Jupiter,5.20,11.86,0.050,NaN,NaN,NaN
9,Saturn,9.54,29.46,0.060,NaN,NaN,NaN
10,Halley,17.94,76.10,0.967,NaN,NaN,NaN
11,Uranus,19.19,84.01,0.050,NaN,NaN,NaN
12,Neptune,30.06,164.82,0.010,NaN,NaN,NaN
13,Pluto,39.40,247.00,0.244,NaN,NaN,NaN
14,Haumea,43.18,283.77,0.194,NaN,NaN,NaN
15,Makemake,45.43,306.22,0.161,NaN,NaN,NaN
16,Eris,67.70,559.08,0.436,NaN,NaN,NaN

In [16]:
a = np.array(data1['Semimajor Axis (AU)'])
P = np.array(data1['Period (y)'])
e = np.array(data1['Eccentricity'])
c = a * e
data1['Semifocal Distance (AU)'] = c
b = (a**2-c**2)**0.5
data1['Semiminor Axis (AU)'] = b
ph = e*(1-a)
data1['Perihelion Distance (AU)'] = ph
ah = e*(1+a)
data1

,Planet,Semimajor Axis (AU),Period (y),Eccentricity,Semifocal Distance (AU),Semiminor Axis (AU),Perihelion Distance (AU)
0,Mercury,0.39,0.24,0.210,0.08190,0.381304,0.12810
1,Venus,0.72,0.60,0.010,0.00720,0.719964,0.00280
2,Earth,1.00,1.00,0.020,0.02000,0.999800,0.00000
3,Mars,1.52,1.88,0.090,0.13680,1.513831,-0.04680
4,Encke,2.21,3.30,0.847,1.87187,1.174820,-1.02487
5,Vesta,2.36,3.63,0.090,0.21240,2.350423,-0.12240
6,Ceres,2.77,4.60,0.080,0.22160,2.761122,-0.14160
7,Pallas,2.77,4.62,0.230,0.63710,2.695738,-0.40710
8,Jupiter,5.20,11.86,0.050,0.26000,5.193496,-0.21000
9,Saturn,9.54,29.46,0.060,0.57240,9.522813,-0.51240
10,Halley,17.94,76.10,0.967,17.34798,4.570688,-16.38098
11,Uranus,19.19,84.01,0.050,0.95950,19.165997,-0.90950
12,Neptune,30.06,164.82,0.010,0.30060,30.058497,-0.29060
13,Pluto,39.40,247.00,0.244,9.61360,38.209144,-9.36960
14,Haumea,43.18,283.77,0.194,8.37692,42.359646,-8.18292
15,Makemake,45.43,306.22,0.161,7.31423,44.837339,-7.15323
16,Eris,67.70,559.08,0.436,29.51720,60.926389,-29.08120

In [19]:
data1.to_csv("updated_solar_system_orbits.csv", index=False, header=True)